.container{
    margin: 5%;
}
.center{
    text-align: center;
}

.secondary-topic{
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    margin-right: 30%;
    margin-left: 30%;
    padding: 16px;
    background-color: coral;
}

.grid1{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: lightgray;
}

.dropbtn {
    background-color: #003c53;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    font-family: berlin sans fb;
    display: none;
    position: absolute;
    background-color: #c0bbbb;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content{display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(18, 89, 240);}

  .square{
    width: 33%;
    height: 33%;
    border: 1px solid black;
  }

  .grid2{
    display: flex;
    flex-wrap: wrap;
    width: 618px;
    height: 618px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(193, 247, 196);
  }

  .mole{
    background-image: url('./img/mole.png');
    background-size: cover;
  }

  .buttons{
    padding: 10px;
    background-color: coral;
    padding-left: 16px;
    padding-right: 16px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .buttonset{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media only screen and (max-width: 600px){
    .container{
        margin: 5%;
        margin-top: 20%;
    }
    .grid1{
        width: 100%;
        height: 100%;
    }

    .grid2{
      width: 330px;
      height: 330px;
    }

    .square{
      width: 32.67%;
      height: 32.67%;
    }

    .secondary-topic{
        font-size: medium;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
  }